<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>

        <% if(! isLoggedIn ) {%>
            <li>
                <a href="/register">Register</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <% } %>
                <% if( isLoggedIn ) {%>
                    <li>
                        <a href="/add-product-form">Add Product</a>
                    </li>
                    <li>
                        <a href="/log-out">Logout</a>
                    </li>
                    <% }%>
    </ul>
</nav>